// main app header background color
$dark-green: #7C8861;
// intense green for buttons and active state inputs
$light-green: #72A23D;
// app-modal header background color
$header-orange: #E8B977;
// table header background color
$light-headers: #FCF6EE;
// highlight color for table
$highlight-bg: #FAF8F8;
// details font colors
$font-grey: #9B9B9B;
// main font color + headings
$font-black: #4A4A4A;